@{
    ViewData["Title"] = "Avaliação";
}

<div class="text-center">
    <h1 class="display-4">Esse link não está mais disponível! </h1>
    <p class="lead">Provavelmente você já fez esta avalição ou está indisponível no momento.</p>
    <hr style="color:white" />
</div>

