@{
    ViewData["Title"] = "Avaliação";
}

<div class="text-center">
    <h1 class="display-4">Obrigado!!!! </h1>
    <p class="lead">Sua avaliação foi salva e nos ajudará a melhor lhe atender.</p>
    <hr style="color:white" />
</div>

